[defaults]
inventory= ./hosts
private_key_file= ./mykey.pem
remote_user= ec2-user
host_key_checking= False
interpreter_python= /usr/bin/python


[privilege escalation]
become= true
become_method=sudo
become_user= root

==============================================================================================================================================================================================================================================================================================================================================================

---
- name: working with special operators (delegate to)
  hosts: all
  serial: 1
  #currently we have less servers(1-3) so the serial is given is one but in realtime we'll have to work on clusters of servers so serial will vary according to the number os servers on which we want to run a task at once. i.e if we want run  task in 10 servers then serial value will be 10 and ansible will choose 10 random servers and run the tasks
  tasks:
    - name: command with name
      command: hostname

    - name: command with IP
      command: hostname -I
      delegate_to: "demo-server2"
      run_once: true
#if we don't use delegate_to operator, all the tasks will run on all the servers
#if we have 100s of servers then the same command will run 100s of times on the same server if we use delegate_to so we need to use "run_once:" so that the task runs only once on the server
